*{
	background-color:rgb(102,178,255);
	font-size: 20px;
	border: 200px;
	width: 200; 
	border: 5px  ;
	margin: 20px;
}

h1
{
	color:black;
	font-family: "Times New Roman", Georgia, Serif ; 
	font-size: 55px;
}

.form
{
	color: purple;
	font-size:55px;
}

h1
{
	color:black;
}

.form
{
	back*ground-color: red:
}

img
{
	float:right;
}
