*{
	background-color:rgb(102,178,255);
	font-size: 18px;
	
}

h1
{
	color:black;
	font-family: "Times New Roman", Georgia, Serif ; 
}

.form
{
	back*ground-color: red:
}*{
	background-color:rgb(102,178,255);
}

h1
{
	color:black;
}

.form
{
	back*ground-color: red:
}

